@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    color: theme('colors.gray.800');
    overflow-x: hidden;
}

.dark-mode body {
    color: theme('colors.gray.100');
}

:root {
    --responsive: calc(
        (25 * 1px) + (100 - 25) * ((100vw - 420px) / (1200 - 420))
    );
}

.text-width {
    font-size: 10vw;
}

@media screen and (min-width: 1580px) {
    .text-width {
        font-size: 9.813rem;
    }
}

.link-decoration::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--link-decoration);
    transition: width 0.25s, background-color 0.5s;
}

.link-decoration:hover::after {
    background-color: currentColor;
    width: 100%;
    left: 0;
}

.max-w-8xl {
    max-width: 88rem;
}
.max-w-9xl {
    max-width: 96rem;
}
.max-w-10xl {
    max-width: 104rem;
}
.max-w-11xl {
    max-width: 112rem;
}
